@use "variables" as *;
@use "mixins" as *;

nav {
  @include box($w: 540px, $h: 190px, $align: right);

  ul {
    list-style: none;
    margin-top: 95px;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: nowrap;
  }

  a {
    color: $brand;
    text-decoration: none;
    letter-spacing: -0.01em;
    font-size: 0.8em;
    white-space: nowrap;

    &.active {
      border-bottom: 2px solid $brand; // underline current page
      padding-bottom: 2px;
    }

    &:hover {
      color: $paper;
    }
  }

  @include break(959px) {
    @include box($w: auto, $h: 50px, $align: center);

    ul {
      margin-top: 16px;
      gap: 16px;
      flex-wrap: wrap;
    }
    a {
      font-size: 1em;
    }
  }

  @include break(767px) {
    ul {
      flex-wrap: wrap; /* allow wrapping if needed */
      gap: 12px;
    }
    a {
      font-size: 0.9em;
    }
  }
}
